{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yellow Pages</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: #417690;
    }

    company_info {
        display: inline;
    }

    a, span.current {
        color: white;
    }

    img {
        float: right;
    }

    div.adminpage {
        margin-top: 10px;
        float: right;
    }
    form.get_most_searched, form.list_all {
        float: right;
        margin: 10px;
    }
</style>
<body>
<ol class="breadcrumb">
    <li><h4>Welcome to the NOT so Yellow Pages!</h4></li>
    <div class="adminpage">
       <a href="{% url 'back_to_adminpage' %}"><span class="glyphicon glyphicon-user" style="color:#417690" aria-hidden="true"></span></a>
    </div>
</ol>

{% block search_companies %}
<form class="navbar-form navbar-left" method="GET" action="{% url 'search_companies' %}" accept-charset="utf-8" role="search">
    <div class="form-group">
        <select class="form-control" id="place" name="category" title="Category" value="{{ request.GET.category }}" required>
            <option selected="selected" disabled>Choose a Category</option>
            <option value="Shoes">Shoes</option>
            <option value="Restaurants">Restaurants</option>
            <option value="Hairdressers">Hairdressers</option>
            <option value="Pharmacies">Pharmacies</option>
        </select>
        <input type="search" class="form-control" name="local" value="{{ request.GET.local }}" placeholder="Local">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

<form class="get_most_searched" method="GET" action="{% url 'get_most_searched_categories' %}">
    <button type="submit" class="btn btn-default">Most Searched Categories</button>
</form>

<br><br><br><br><br>

{% block content %}
    {% if first_most_searched_company %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 700px; max-height: 350px !important; margin: 0 auto">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% if first_most_searched_company %}
                    <div class="item active">
                        <img style="max-width: 700px; max-height: 350px !important;" src="{{ first_most_searched_company.photo.url }}" alt="{{ first_most_searched_company.category }}">
                    </div>
                {% endif %}
                {% if second_most_searched_company %}
                    <div class="item">
                        <img style="max-width: 700px; max-height: 350px !important;" src="{{ second_most_searched_company.photo.url }}" alt="{{ second_most_searched_company.category }}">
                    </div>
                {% endif %}
            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% else %}
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Companies</div>
                <div class="panel-body">
                    {% if companies %}
                    <ul class="list-group">
                        {% for company in companies %}
                        <li class="list-group-item">
                            <company_info><b>{{ company.name }} - </b></company_info>
                            <company_info><b>{{ company.phone }} - </b></company_info>
                            <company_info><b>{{ company.address }}</b></company_info><p><p>
                            <label>Postal Code: </label><text>{{ company.postal_code }}</text><p>
                            <label>District: </label><text>{{ company.district }}</text><p>
                            <label>Category: </label><text>{{ company.category }}</text><p>
                            <label>Description: </label><text>{{ company.description }}</text><p>
                            <label>URL: </label><text>{{ company.url }}</text><p>
                            <p><img style="margin-bottom: 10px" src="{{ company.photo.url }}" width="100x"><p>
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>There are no companies to list.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="pagination">
                <span class="step-links">
                    {% if companies.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ companies.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ companies.number }} of {{ companies.paginator.num_pages }}.
                    </span>

                    {% if companies.has_next %}
                        <a href="?page={{ companies.next_page_number }}">next</a>
                        <a href="?page={{ companies.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
        </div>
    </div>
    {% endif %}
{% endblock %}
</body>
</html>
